/* Accordian */
.acnt-impl-hdr {
    padding: 0px;
    /* color: #fff !important; */
    /* background: black; */
}

/* Common */
.acnt-impl-sec2 {
    padding: 30px 0px;  
    background: #e6f3ff;
}
.acnt-impl-sec2-bg{
    /* background-image: url(../../bgimages//sps-bg-2.png); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.acnt-impl-sec3 {
    background: linear-gradient(90deg, #d90909 -24%, #070426 44%);
    padding: 30px 0px;
    color: #fff;
}
.cmn-frm-blk {
    margin-top: 40px;
}

.acnt-impl-sec2-rght {
    text-align: center;
    background: #fff;
    padding: 32px 70px;
    min-height: 180px;
    margin: 20px 0px;
    position: relative;
}
.acnt-impl-sec2-rght-btnblk {
    display: flex;
    justify-content: center;
}
.acnt-impl-hd {
    text-align: center;
    color: #03021b;
    font-size: 28px;
}
.acnt-impl-sec3-hd{
    color: #fff;
}
.acnt-impl-sec2-hd {
    color: #03021b;
    font-size: 28px;
}
.acnt-impl-btn {
    color: #fff;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.acnt-impl-btn svg {
    color: #fdb01d;
    font-size: 25px;
}
.acnt-impl-btn:hover{
    color:#fff;
    text-decoration: none;
}

.acnt-impl-sec2-rght h5 {
    font-size: 15px !important;
}
.acnt-impl-sec1 {
    padding: 30px 0px;
}
.acnt-impl-img-top{
    margin-top: 40px;
    max-width: 100%;
    height: auto;
}

.accn-impl-hd{
    font-size: 28px;
}
/* Modal */
.acnt-impl-mdlbtn {
    margin-top: 15px;
    background: none;
    color: #000;
    border: 1px solid #f9a615;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
}
.acnt-impl-mdlbtn svg {
    font-size: 25px;
    margin-left: 10px;
    color: #fd8a24;
}
.acnt-impl-mdlbtn:hover {
    background: #03021b;
    border: none;
}
.acnt-impl-mdl-ul{
    list-style: none;
    padding-left: 0px;
}
.acnt-impl-mdl-ul li{
text-align: left;
}
.acnt-impl-btn {
    background: #540000;
    text-decoration: none;
}
.acnt-impl-btn:hover {
    background: #540000;
    
}

.accnt-soft-impl-ul{
    list-style: none;
    padding-left: 0px;
}