/* Why Chose us Dropdwon Style */

/* ADGM Accordian Style */
.adgm-key-points-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffc137;
    /* padding: 5px 0px; */
    padding: 5px 10px;
    background: #77ade712;
    border-radius: 0px 0px 10px 10px;
    /* box-shadow: 0px 1px 0px 1px #8b6001; */
    /* margin: 5px 0px; */
}
.adgm-up-block{
    margin: 5px 0px;
}
.adgm-key-points-hd h6{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 500;
}
.adgm-key-points-hd:hover {
    cursor: pointer;
}
span.benefits-symbol #plus {
    color: #ffc137;
    font-size: 17px;
}
span.benefits-symbol #minus {
    color: #010846;
    font-size: 17px;
}
.adgm-key-points-cnt p {
    margin-bottom: 0px;
    font-size: 13px;
}
.adgm-key-points-cnt {
    padding: 10px 10px;
    background: #ffd24e2e;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 0px 1px #8b6001;
    margin-top: -1px;
}

.bookkeepingimg {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    object-position: 30%;
    margin: 20px 0px;
}

.book-abd-block {
    padding: 30px 0px;
}
.book-services-list-blk {
    padding: 20px 0px;
}
.book-services-list-blk ul{
    padding-left: 0px;
}
.opti-accn-book-blk {
    padding: 20px 0px;
}
.book-services-main-list {
    padding-bottom: 20px;
}
.book-services-main-needs {
    padding-bottom: 20px;
}