img.wd-img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: auto;
}
.app-sec-02 {
    background: #000;
    padding: 20px 0px;
    background-image:url(../../../public/images/bgimages/bg-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.app-dev-grid-blk {
    /* border: 1px solid; */
    padding: 22px;
    background: #12121291;
}
.app-dev-grid-blk h4 {
    font-size: 20px !important;
    text-align: center;
}
.app-dev-sec2-box-icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.app-dev-box-icon {
    background: #053f7a;
    padding: 15px;
    border-radius: 100%;
    overflow: inherit;
    width: 75px;
    height: 75px;
    box-shadow: 0px 0px 4px 1px #fff;
    margin-bottom: 15px;
}
.app-dev-sec-3 {
    padding: 30px 0px;
}
.app-sec-01 {
    padding: 30px 0px;
}
.app-dev-ul {
    list-style: none;
}
.app-dev-ul-chk{
    margin-right: 10px;
}