.heroic-bg {
    /* background-color: #075b68; */
    /* background-image: url(../../../../public/hd-bg.svg); */
    background-image: url(./images/subhero-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1900px;
    margin: auto;
    display: block;
}
.header-banner-blk {
    background: #03002861;
}

.heroic-sec {
    text-align: center;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}
.heroic-sec h2 {
    font-size: 50px !important;
    /* position: relative; */
}

.heroic-sec a {
    color: #ffffff;
}
.breadcrumb-1 {
    padding-top: 10px;
    /* background: #000b1e; */
    color: #fff;
    background: linear-gradient(90deg, #070426 60%, #cb2020 119%);
}
.breadcum-p {
    color: #fff;
}
