/* Vat Doc Modal */
.vat-reg-doc-modal-tlt{
    color: #000;
}
.vat-reg-doc-modal-ul{
    color: #000;
}
.vat-reg-modal-btn{
    background: none;
    font-weight: 500;
    border: none;
    background-color: #efb21c;
    color: rgb(3, 3, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}
.vat-reg-modal-btn svg{
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
}
.vat-reg-modal-btn:hover{
    background: rgb(3, 3, 39);
    color: #fff;
}
.vat-reg-modal-btn:hover svg{
    color: #efb21c;
}

/* VAT Reg */

.vat-reg-chkbox-blk {
    display: flex;
}
.vat-reg-chkbox-icon{
    font-size: 19px;
    padding-right: 10px;
}
.vat-reg-chkbox-cnt{
    padding-top: 9px;
}
.vat-reg-sec4 {
    padding: 30px 0px;
    /* background: linear-gradient(90deg, rgb(7 55 106) 0%, rgb(26 99 151) 47%, rgb(8 93 143) 100%); */
    color: #fff;
    background: linear-gradient(90deg, #d90909 -24%, #070426 44%);
}
.vat-reg-sec3 {
    padding: 30px 0px;
}
.vat-reg-sec2 {
    padding: 30px 0px;
    background: #e4f3ffbf;
    color: #000;
}
.vat-reg-sec1 {
    padding: 30px 0px;
}
.vat-reg-doc-modal {
    margin-top: 25px;
}
.vat-reg-doc-img {
    margin-top: 25px;
}
.vat-reg-doc-mdl-blk {
    display: grid;
    justify-items: center;
    /* border: 1px solid; */
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    background: #b71313;
    border-radius: 50px;
    min-height: 300px;
    max-width: 260px;
}
@media(max-width:567px){
    .vat-reg-doc-mdl-blk{
        width: 80%;
        align-items: center;
        margin: auto;
    }
}
.vat-reg-doc-tlt {
    text-align: center;
    font-size: 30px;
    font-family: system-ui;
}

.vat-reg-box-bgimg {
    color: #03021f;
    text-align: center;
    background: #edf6ff;
    min-height: 180px;
}
.vat-reg-box {
    /* background: #000000d6; */
    padding: 35px 30px;
}

.vat-reg-box h6{
    font-family: system-ui;
    font-size: 18px;
}
.vat-reg-modal2-btn {
    background: none;
    margin-top: 15px;
    border: 1px solid rgb(248, 195, 20);
    color: #050324;
    display: inline-flex;
    align-items: center;
}
.vat-reg-modal2-btn svg {
    font-size: 25px;
    color: #ffa211;
    margin-left: 10px;
}
.vat-reg-img{
    max-width: 100%;
    height: auto;
    max-height: 525px;
    border-radius: 15px;
}

.vat-reg-hd{
    font-size: 28px;
}
.vat-regt-ul{
    list-style: none;
    padding-left: 0px;
}
.vat-reg-hd-btnblk {
    display: inline-flex;
    background: #b10f0f;
    padding: 8px 25px;
    /* color: #fff; */
    border-radius: 25px;
    margin: 30px 0px;
}
.vat-reg-hd-btnblk a{
    color: #fff;
}
.vat-reg-hd-btnblk a svg{
    color: #efb21c;
    font-size: 25px;
    margin-left: 10px;
}