.thankupgblk{
    background-image: url(../../../public/images/bgimages/ftr-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 1900px;
}
.thnkupgcntblk {
    height: 500px;
    background: linear-gradient(90deg, #03002ad4 40%, #af2121d4 119%);
    padding: 100px 0px;
    
}
.thnkupgcntblk h2{
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thnkupgcntblk p{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
.thank-cta-blk {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.thank-cta-blk a{
    background: #fff;
    color: #000;
    padding: 8px 25px;
    border-radius: 25px;
    font-weight: 600;
}

.thank-cta-blk a svg{
    color: rgb(248, 197, 30);
    font-size: 25px;
    margin-left: 10px;
}