

/* Slider CTA Button */
.sld-cta-btn {
    color: #fff;
    font-weight: 600;
    background: #870101;
}



/* Cloudinary Video Responsive */

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.nextvideoshm video {
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
    display: block;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}


.carousel-caption {
    position: absolute;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.carousel-caption {
    position: absolute;
    bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #fff;
  
}

/* Caption Mobile */

@media (max-width: 768px) {
    .carousel-caption {
        display: block !important;
        left: 5%;
        right: 5%;
        top: 3% !important;
    }
}

/* For Desktop */

@media (min-width: 768px) {
    .carousel-caption {
        top: 0% !important;
    }
}
