@media (max-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        padding-top: 100px !important;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: -75px !important;
    }
}

@media (max-width: 576px) {
    .sld-cta-btn {
        margin-top: 10px !important;
    }
}

@media (max-width: 576px) {
    .carousel-caption h2 {
        font-size: 30px !important;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        left: 15% !important;
    }
}

@media (max-width: 768px) {
    .sldimg {
        height: 400px !important;
        max-width: 100%;
        /* height: auto; */
    }
}

@media (max-width: 576px) {
    .sldimg {
        height: 300px !important;
        max-width: 100%;
        /* height: auto; */
    }
}

@media (min-width: 768px) {
    .carousel-caption {
        top:40%;
        padding-top: 0px;
        bottom: 0px;
    }
}

.sldimg{
    max-width: 100%;
    height: auto;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 12%;
    /* padding-top: 175px; */
    padding-bottom: 0px !important;
    color: #fff;
    text-align: left;
    /* top: 0; */
}

.carousel-caption h2 {
    font-weight: 700;
    font-family: system-ui;
    font-size: 40px;
}

span.sl-hd-spn {
    color: #ab0000;
}

/* Slider CTA Button */
a.btn.sld-cta-btn {
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    padding: 6px 25px;
    margin-top: 30px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}

/* Video Slider */
.nextvideoshm{
    max-width: 100%;
    height: auto;
}

.animationsldrp{
    font-size: 20px;
}