.aud-ass-sec2-box {
    background: #b70707;
    margin: 0px 1px;
    text-align: center;
    padding: 20px 0px;
    /* color: #fff; */
    border-radius: 15px;
}
.audit-assurna-btn-mdl {
    background: none;
    border: 1px dotted #fff;
    font-size: 14px;
    background: none;
    padding: 4px 18px;
    margin-top: 10px;
    border-radius: 25px;
}
.audit-assurna-btn-mdl:hover{
    background: rgb(1, 1, 37);
    border: none;
}
.audit-assurna-btn-mdl svg {
    font-size: 25px;
    margin-left: 5px;
    color: #ffde31;
}
.aud-ass-sec2 {
    background: #f1fcff75;
    /* color: #fff; */
    padding: 30px 0px;
}
.aud-ass-modal-bdy {
    color: #000;
    text-align: left;
}
.aud-mdl-tlt{
    color: #000;
}
.audt-assr-hd {
    padding: 30px 0px;
}

/* .aud-ass-sec2-box button {
    font-size: 14px;
    background: none;
    padding: 4px 10px;
    margin-top: 10px;
} */

.aud-ass-sec4 {
    /* background: linear-gradient(90deg, rgb(0 58 120) 0%, rgb(10 82 133) 47%, rgb(2 54 118) 100%); */
    background: linear-gradient(90deg, #070426 60%, #cb2020 119%);
    color: #fff;
    padding: 30px 0px;
}
.aud-ass-sec3 {
    padding: 30px 0px;
}
.aud-ass-sec3 h2{
    text-align: center;
}
.aud-ass-sec1 {
    padding: 30px 0px;
}
.audt-assr-img{
    max-width: 100%;
    height: auto;
}
.audt-assr-zone-img{
    max-width: 100%;
    height: auto;
}
.audt-assr-hd{
    font-size: 28px;
}
.aud-ass-sec2-box h6{
    font-size: 14px;
    color: #fff;
}
.audit-assurn-ul{
    list-style: none;
    padding-left: 0px;
}

.clntlgog>img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}