/* Ajman Slider CSS */
.ajmanimgsld-blk{
    position: relative;
}
.ajman-sld-img-tlt-blk{
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}
.ajman-sld-img-tlt-blk h5{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    
}

/* Ajamn Doc Box Style*/
.ajman-docblk {
    text-align: center;
    padding: 20px;
    max-height: 180px;
}
.ajman-doc-ul li {
    text-align: left;
}
.ajman-doc-box-clost-btn {
    border: none;
    background: no-repeat;
    font-size: 37px;
}
/* Ajman Business Structure */
.ajman-bsn-strc-pnt-blk ul {
    padding-left: 0px;
}

/* Ajman Company Cost Table */

.ajman-comp-cost-tbl tr th{
    padding: 10px;
    border: 1px solid #000;
}
.ajman-comp-cost-tbl tr td{
    padding: 10px;
    border: 1px solid #000;
}
.ajman-comp-cost-tbl{
    width: 100%;
}
.physical-off-ul ul{
    padding-left: 0px;
}
.ajman-hand{
    margin-right: 10px;
}

/* Ajman First Block */
.ajmandreezon-fst-blk {
    padding: 50px 0px;
}
.key-benef-blk {
    background: #e9e9e9;
    padding: 20px;
    min-height: 385px ;
    margin-bottom: 10px;
}
.ajman-package-blk {
    background: #e9e9e9;
    padding: 20px;
    min-height: 385px ;
}

/* Ajman second block */
.ajman-business-sector-blk {
    padding-bottom: 20px;
}
table.ajman-comp-cost-tbl {
    margin: 20px 0px;
}

.documentsbox {
    padding-bottom: 20px;
}
.ajman-docblk {
    text-align: center;
    padding: 20px;
    max-height: 180px;
    background: #eefcff;
}
.ajman-freezone-cmp-cost {
    padding-bottom: 20px;
}

.ajman-cmp-setup-proc {
    padding-bottom: 20px;
}
.cmpsetupbox {
    background: #d8eced;
    text-align: center;
    padding: 20px;
    min-height: 250px;
}
.cmpsetupbox p {
    text-align: center;
    padding: 20px 0px;
}