.visa-heroic{
    background-color: #000f26;
    color: #fff;
    
}
.visa-tlt {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 50px;
    line-height: 2;
}
.uae-visa-img {
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.visa-main-blk{
    margin: 10px 0px 20px 0px;
}
/* .visa-info {
    text-align: center;
} */
.visa-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    font-weight: 500;
}

.btn-blk-f {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.tourist-visa-btn-blk {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dotted #003656;
    justify-content: space-between;
}
.action-btn-blk a img {
    width: 35px;
    height: 35px;
    margin-right: 15px ;
}

.tourist-visa-document h4 {
    font-weight: 600;
    font-size: 22px;
}
.turist-visa-blk {
    background: #e6f4ff;
    padding: 20px;
    margin-bottom: 20px;
}
.singapore-tlt{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    padding: 15px 0px;
}

.visa-ass-ul{
    list-style: none;
    padding-left: 0px;
}
