.restau-accn-sec4 {
    padding: 30px 0px;
    /* background: linear-gradient(90deg, rgb(7 55 106) 0%, rgb(26 99 151) 47%, rgb(8 93 143) 100%);
    color: #fff; */
    /* background: blue; */
    max-width: 1900px;
}
.restau-accn-sec2 {
    padding: 30px 0px;
    background: #22222c;
    color: #fff;
    background-image: url(../bg-images/bg-img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rest-accnt-mdl-tlt{
    color: #000;
}
.how-accnt-modal-bdy{
    color: #000;
    text-align: left;
}
.restau-accn-sec1 {
    padding: 30px 0px;
}
.restau-sece-rght-blk {
    text-align: center;
}
h4.restau-sece-rght-blk-tlt {
    margin-bottom: 20px;
}
.rest-accnt-mdl-btn {
    margin-bottom: 25px;
}
.rest-img img{
    max-width: 100%;
    height: auto;
}

h1.rest-hd1 {
    font-family: system-ui;
    font-size: 25px;
    padding-bottom: 10px;
}

h2.rest-hd2 {
    font-family: system-ui;
    font-size: 25px;
    padding-bottom: 10px;
}

.rest-ul{
    list-style: none;
    /* padding-left: 0px; */
    /* position: absolute;
    right: 50px; */
}
.rest-arrow{
    margin-right: 10px;
}
.chos-elv-rest-cnt-tltblk {
    max-width: 750px;
    margin: auto;
    text-align: center;
}
.chos-elv-rest-cnt-pblk {
    max-width: 1250px;
    margin: auto;
    padding: 0px 20px;
}
.chos-elv-rest-cnt-pblk p {
    text-align: center;
}
@media(max-width:567px){
    .chos-elv-rest-cnt-pblk p {
        text-align: justify;
        padding: 10px 20px;
    }
}
.whychos-row {
    display: flex;
    padding: 20px;
}
.whychos-left-col {
    width: 50%;
    position: relative;
}
.whychos-right-col {
    width: 50%;
    background: #eef8ff;
    padding: 30px 0px;
}

@media (max-width:567px){
    .whychos-row {
        display: block;
    }
    .whychos-left-col {
        width: 100% !important;
    }
    .whychos-right-col {
        width: 100% !important;
    }
}
.whychos-rght-frm-blk {
    max-width: 450px;
    margin: auto;
}
.whychos-left-col .rest-ul{
    list-style: none;
    position: absolute;
    right: 50px;
}
@media(max-width:567px){
    .whychos-left-col .rest-ul{
        position: relative;
        left: 0;
        padding: 10px 15px;
    }
}