a.snglp-catg-level {
    text-decoration: none;
    background: #c2d1d1;
    color: #000;
    margin: 0px 10px 0px 0px;
    padding: 5px 19px;
    font-weight: 600;
    border-radius: 20px;
    font-size: 13px;
}
.sngl-p-cat-level {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
}
.sngl-pst-img-blk{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: square;
}

.sngl-post-bnr-img{
    width: 100%;
    /* max-width: 1900px; */
    height: 450px;
    display: block;
    margin: auto;
}
@media(max-width:768px){
    .sngl-post-bnr-img{
        height:200px;
    }
}