.spc-main-blk {
    padding: 50px 0px 0px 0px;
}
.spcpkgimg {
    max-width: 100%;
    height: auto;
}
.spcimgcapt {
    position: relative;
    bottom: 180px;
    left: 30px;
    color: #fff;
    width: 350px;
    border: 2px solid #fff;
    float: right;
    padding: 10px;
}
.spc-cnt-spnprc {
    font-size: 20px;
    font-weight: 700;
    color: #0c0c3a;
}
.spc-main-sbblk>h4 {
    margin-bottom: 15px;
}
.spc-main-sbblk {
    margin: 22px 0px;
    border: 6px solid #b8b4c747;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px #15113a;
    border-radius: 10px;
}
.spc-prc-arrw {
    margin-left: 10px;
    /* transition: transform easein 2s; */
    transform: rotateX(45deg);
}
.spc-mancnt-spnprc {
    color: #e7ffd4;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #fff;
}
.spcimgcapt>h2 {
    font-size: 40px;
    font-weight: 700;
}
.spc-prctblblk {
    text-align: center;
}
.spc-prctbl {
    width: 100%;
}
.spcvisa-typ-blk {
    text-align: center;
    padding: 20px;
}
.spc-prctabletlt-blk {
    background: linear-gradient(90deg, rgb(2 75 92) 30%, rgb(2 71 120) 70%);
    padding: 50px 0px;
}
.spcvisa-typ-lbl {
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 500;
}
.spc-visatypefld {
    max-width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 7px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
}
.spc-seltvis-tlt {
    color: #fff;
    padding: 7px;
    font-size: 16px;
    margin-bottom: 0px;
    background: linear-gradient(335deg, rgb(23 54 110) 30%, rgb(17 83 131 / 90%) 70%);
    box-shadow: 0px -1px 4px 2px #0000004d;
}
.spc-prctbl-th { 
    background-color: #062b4a;
}
.spc-prctbl-th>th {
    padding: 10px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
    text-align: left;
}
.spc-prctbl-tbdy {
    background: #055776;
}
.spc-prctbl-tr>td {
    color: #fff;
    font-family: 'Poppins';
    padding: 8px;
    text-align: left;
    border: 1px dotted #beeaff54;
}

/* Why SPC img */
.whyspcimgcls {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
}

.whychosimg-cap {
    position: relative;
    bottom: 198px;
    /* overflow: hidden; */
    width: 350px;
    color: #fff;
    border: 4px solid #fff;
    padding: 10px;
    display: block;
    margin-left: auto;
    right: 26px;
}
.whychosimg-cap>h3 {
    font-weight: 700;
    font-size: 40px;
}