
@media (max-width: 991px){
    .top-bar {
        display: none;
    }
    }
/* Top Social Icon */
.scl-icn-top {
    padding: 0px 4px;
}
.top-scl-icn{
   color: #fff;
}
.t-b-scl {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.scl-icn-top a img{
    width: 30px;
    height: 30px;
}
.scl-icn-top a {
    color: #4e4e4e;
}

/* Tob Call icon */
.top-bar-call {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a.t-b-call-num {
    font-family: sans-serif;
    color: #ffffff;
    padding-left: 5px;
    font-size: 15px;
}
a.t-b-mail {
    font-family: sans-serif;
    color: #ffffff;
    padding-left: 5px;
    font-size: 15px;
}
.top-bar {
    background: #282828;
    padding: 5px 0px;
}

.top-p{
    color: #fff;
    font-size: 15px;
}
svg.top-cm-icn {
    color: #fff;
    font-size: 22px;
}