/* Modal */
.modal-body.lqd-mdl-cnt p {
    color: #000;
}
.lqd-mdl-tlt{
    color: #000;
}

/* Liquidation */

.lquid-sec3 {
    padding: 30px 0px;
    background: linear-gradient(90deg, #070426 60%, #cb2020 119%);
    /* background: linear-gradient(90deg, rgb(0 58 120) 0%, rgb(10 82 133) 47%, rgb(2 54 118) 100%); */
    color: #fff;
}
.lquid-sec2 {
    padding: 30px 0px;
    background: #edf5fd;
    color: #000;
}
.lqd-mdlbtn{
    background: none;
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 25px;
}
.lqd-mdlbtn svg{
    color: rgb(255, 204, 37);
    font-size: 25px;
    margin-left: 10px;
}
.lqd-box {
    text-align: center;
    padding: 30px 0px;
    /* background: linear-gradient(90deg, rgb(7 43 70) 0%, rgb(16 97 181 / 78%) 47%, rgb(3 41 74) 100%); */
    background: #ab1212;
    border-radius: 15px;
}
.lqdimg{
    margin-top: 40px;
    max-width: 100%;
    height: auto;
}
.lquid-sec1 {
    padding: 30px 0px;
}

.lqd-hd{
    font-size: 28px;
}
.comp-lqd-ul{
    list-style: none;
    padding-left: 0px;
}