.hm-cor-img img{
    max-width: 100%;
    height: auto;
}
/* .hm-corp-blk{
    background-image: url(../../../../public/images/bgimages/bg-1.jpg);
} */
.hm-acccor-blk {
    padding: 20px;
    
}
.hm-cor-icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    height: 48px;
    position: relative;
    top:18px;
}
.hm-acccor-blk {
    text-align: center;
    background: #fbfbfb;
    box-shadow: 0px 0px 3px 0px #000000a3;
    border-radius: 5px;

}
.hm-cor-hd {
    padding: 0px 0px 25px 0px;
}
.hm-acccor-blk h4 {
    font-size: 20px;
    font-family: system-ui;
    padding: 10px 0px;
}

.hm-corp-blk {
    margin-top: 50px;
    
}


.hm-cor-hd h2,h4{
    text-align:center;
}

.hm-cor-hd h4 {
    font-family: system-ui;
    font-size: 20px;
    padding-bottom: 15px;
}

.hm-cor-icon {
    width: 80px inherit;
    width: 80px;
    height: 80px;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    box-shadow: inset -2px -2px 14px 2px #00000059;
}

.cor-cta-blk {
    background: linear-gradient(90deg, rgb(2 75 92) 30%, rgb(2 71 120) 70%);
    /* padding: 40px 0px; */
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

a.btn.btn-danger.cor-cta-btn-lst {
    background: linear-gradient(323deg, rgb(42 184 255 / 34%) 28%, rgb(44 162 163 / 42%) 70%);
    border: none;
    /* border: 1px solid #fff; */
    border-radius: 23px;
    padding: 11px 25px;
    font-weight: 700;
    margin: 20px 0px 0px 0px;
    box-shadow: 0px 2px 0px 1px #040f1c61;
}