.hm-it-blk-bg {
    background: #002748d1;
    padding: 50px 0px;
}
.hm-it-bg{
    background-image: url(../../images/code-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

