.hm-it-serv-card-blk h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.hm-it-serv-card-blk p {
    text-align: center;
    font-size: 15px;
    max-width: 230px;
    margin: auto;
    padding: 10px 0px;
    display: block;
}
.it-ser-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 90%;
}
.hm-it-serv-card-blk {
    background: #fff;
    padding: 30px 20px;
    background: #fff;
    /* padding: 30px; */
    box-shadow: 0px 0px 2px 0px #00000096;
    border-radius: 5px;
    margin: 10px 0px;
    min-height: 245px;
    position: relative;
}
.it-ser-img img {
    width: 45px;
    height: 45px;
}

.it-ser-link a {
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    border: none;
    box-shadow: 0px 0px 0px 2px #0a244400;
    font-size: 13px;
    padding: 8px 20px;
    background: rgb(13 9 72);
    /* background: linear-gradient(90deg, rgb(3 47 86) 0%, rgb(11 124 181) 35%, rgb(28 105 161) 100%); */
    /* background: linear-gradient(90deg, #03002a 40%, #af2121 119%); */
}
.it-ser-link a svg {
    font-size: 25px;
    margin-left: 7px;
    color: #ffdb21;
}
.it-ser-link a:hover {
    background: #930606;
}

.dev-digi-blk {
    text-align: center;
    font-family: system-ui;
    color: #fff;
    max-width: 800px;
    margin: auto;
    display: block;
}

