.jafza-fst-blk h1{
    text-align: center;
}
.jafza-fst-blk p{
    text-align: center;
}
.jafza-fst-blk-lft-cnt {
    max-width: 900px;
    margin: auto;
}

/* Jafza Accordian Style */
.jafza-key-points-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffc137;
    padding: 5px 10px;
    background: #77ade712;
    border-radius: 0px 0px 10px 10px;
}
.jafza-up-block{
    margin: 5px 0px;
}
.jafza-key-points-hd h6{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 500;
}
.jafza-key-points-hd:hover {
    cursor: pointer;
}
span.benefits-symbol #plus {
    color: #ffc137;
    font-size: 17px;
}
span.benefits-symbol #minus {
    color: #010846;
    font-size: 17px;
}
.jafza-key-points-cnt p {
    margin-bottom: 0px;
    font-size: 13px;
}
.jafza-key-points-cnt {
    padding: 10px 10px;
    background: #ffd24e2e;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 0px 1px #8b6001;
    margin-top: -1px;
}
.jafza-option-benef-blk {
    margin: 30px 0px;
    background: #f9fffff2;
    padding: 50px 0px;
}
.jafza-cnt-blk {
    margin: 30px 0px;
}
.jafza-fst-blk {
    padding: 20px 0px;
}
/* Jafza Image Adjustment */
.jafza-img-blk img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

/* JAFZA Options Logo */
.jafza-option-blk {
    display: flex;
}
.option-blk img {
    max-width: 200px;
    max-height: 154px;
    display: block;
    margin: auto;
}
@media(max-width:567px){
    .option-blk img {
        max-width: 120px;
    }
}

/* Key benifits */
.key-benf-blk {
    background: linear-gradient(90deg, #070426 60%, #e51212 119%);
    padding: 50px 0px;
}
.key-benf-blk h2{
    text-align: center;
    color: #fff;
}
.key-benf-btn-blk a {
    border: 1px dotted #ffb626;
    padding: 8px 20px;
    border-radius: 25px;
    color: #fff;
}
.key-benf-btn-blk{
    margin-top: 50px;
    text-align: center;
}

.jafza-benf-bdyblk {
    max-width: 500px;
    margin: auto;
    margin-top: 16px;
}
.key-benf-btn-blk a svg {
    font-size: 25px;
    margin-left: 10px;
    color: #f9c325;
}

.jafzatype-doc-blk {
    margin: 50px 0px;
}

/* Jafza Price */
.jafza-price-blk {
    background: linear-gradient(90deg, #070426 60%, #e51212 119%);
    padding: 30px 0px;
}
.jafza-prc-tlt {
    color: #fff;
    text-align: center;
    padding: 30px 0px;
}
.jafza-price-select-blk {
    text-align: center;
}
.reg-pric-blk table {
    width: 100%;
}
.jafza-prc-slt {
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    background: none;
    color: #ffb52a;
    border: 1px solid #ffb52a;
    width: 300px;
    margin: 5px 0px;
}
.jafza-prc-slt option {
    background: #7c0101;
    color: #fff;
    border: none;
}
.jafza-prc-slt option:hover{
    background-color:#ffb52a ;
}
.reg-pric-blk table thead{
    background-color: #ffb52a;
}
.reg-pric-blk table thead tr th {
    padding: 10px 0px;
    border: 1px solid #ffaf18;

}
.reg-pric-blk table tr td{
    color: #010846;
    background-color: #fff;
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #c9bf8385;
}
.reg-pric-blk {
    margin: 20px 0px;
    overflow-x: auto;
}

/* JAFZA Company Process Box */
.jafza-comp-proc-blk {
    margin: 50px 0px;
}
h2.jafza-comp-proc-tlt {
    text-align: center;
}
.jafza-com-procs-box-blk {
    display: flex;
}
.jafza-com-procs-box {
    width: 300px;
    margin: 40px;
    padding: 20px 20px;
    text-align: center;
    position: relative;
    height: 220px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}
.box-one-clr {
    background: #091138;
    color: #fff;
}
.box-two-clr {
    background: #bf800a;
}
.box-three-clr {
    background: #b91d1d;
}
.box-four-clr {
    background: #09448f;
}
.box-five-clr {
    background: #0d760d;
}
.arowscheduo::after {
    content: url(../../../public/icons/arrows-red.png);
    display: block; /* Ensures the arrow behaves like an inline-block */
    position: absolute;
    top: 50%; /* Centers the arrow vertically */
    transform: translateY(-50%); /* Adjust for vertical alignment */
    width: 20px; /* Set arrow width */
    height: auto; /* Maintain aspect ratio */
    right: -25px; /* Position arrow to the right of the box */
}

@media(max-width:567px){
    .arowscheduo::after {
        content: url(../../../public/icons/arrows-red.png);
        display: block;
        position: absolute;
        top: 85%;
        transform: translateY(20%);
        width: 20px;
        height: auto;
        right: 130px;
        display: flex;
        flex-direction: column;
        bottom: -66px;
        rotate: 90deg;
    }
    .jafza-com-procs-box-blk{
        display: block;
    }
}
.jafza-com-procs-box h5 {
    font-size: 18px;
    color: #fff;
    line-height: 28px;
}
.jafza-com-procs-box-one,.jafza-com-procs-box-two,.jafza-com-procs-box-three,.jafza-com-procs-box-four,.jafza-com-procs-box-five {
    position: absolute;
    right: 0;
    margin-right: 35px;
    bottom: -3px;
    font-size: 60px;
    
}
.jafza-com-procs-box-one{
    color: #f5f6ff2b;
}
.jafza-com-procs-box-two {
    color: #ffaa279c;
}

.jafza-com-procs-box-three {
    color: #760f0f85;
}
.jafza-com-procs-box-four {
    color: #559fe154;
}
.jafza-com-procs-box-five {
    color: #081a084f;
}

/* What is Ifza Cost Block */
.whatifza-cost-blk {
    background: #060530;
    padding: 50px 0px;
}
.whatifza-cost-blk h2 {
    text-align: center;
    color: #fff;
}
.whatis-p {
    max-width: 900px;
    margin: auto;
    padding: 10px 0px;
}
.whatis-p p{
    color: #fff;
    text-align: center;
    line-height: 25px;
}
.whatis-ifza-cost-btn-blk {
    text-align: center;
    margin: 20px 0px;
}
.whatis-ifza-cost-btn-blk a{
    color: rgb(212, 162, 24);
    background: none;
    border: 1px solid rgb(212, 162, 24);
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 600;
}
.whatis-ifza-cost-btn-blk a svg{
    font-size: 25px;
    margin-left: 12px;
}